
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.content {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer {
	background-color: gray;
	padding: 5px;
}

.footer_note {
	padding: 5px;
}

.header {
	display: flex;
	justify-content: space-evenly;
	background-color: grey;
	margin-bottom: 10px;
}

.navigation-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.active {
	text-transform: uppercase;
}

.navigation-list li {
	margin: 10px;
	display: flex;
	max-width: 200px;
	height: auto;
	text-align: center;
	border-radius: 5px;
}

.navigation-list a {
	display: flex;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 900;
	padding: 5px;
	color: rgb(201, 246, 253);
}

.navigation-list a:visited {
	color: rgb(233, 189, 247);
}
 
.navigation-list a:hover {
	color: rgb(249, 166, 98);
	transition: color 0.6s 
}

.ball-container {
	width: 450px;
	height: 350px;
	background-color: #2f2a2aa7;
	border-radius: 25px;
	border: solid 3px rgb(56, 54, 54);
	margin: 10px;
}

.circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: rgb(212, 178, 245);

	position: absolute;
    --x:0px;
    --y:0px;

    transform: translate(var(--x),var(--y));
}

.btn {
	width: 100px;
	height: 30px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(225,247,172) inset, 0 0 0 0 rgb(225,247,172);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: grey;
	text-transform: uppercase;
  transition: .15s ease-in-out;
}

.btn-start:hover {
	box-shadow: 0 0 10px 0 #78f580 inset, 0 0 10px 4px #71ee79;
  color: #158540;
	border: none;
}
.btn-stop:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
	border: none;
}

.btn-container{
	margin: 20px;
	display: flex;
	width: 300px;
	height: 30px;
	justify-content: space-between;
}

.todo {
  margin: 0;
  padding: 0;
}

.todo li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
	list-style-type: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo li:nth-child(odd) {
  background: #f9f9f9;
}

.todo li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.todo li:hover {
  background: #ddd;
}

.todo li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.todo li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #ec9690;
  color: white;
}

.todo_list {
	margin: 30px;
}

.todo_header {
	display: flex;
	border: solid 2px black;
	margin-top: 20px;
	border-radius: 20px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  background-color: #dec3ea;
  padding: 30px 40px;
	flex-direction: column;
	align-items: center;
}

.todo_header:after {
  content: "";
  display: table;
  clear: both;
}

.todo_input {
  margin: 10px;
	border-radius: 10px;
  width: 200px;
	height: auto;
  padding: 10px;
  font-size: 16px;
}

.addBtn {
	width: 100px;
	padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(225,247,172) inset, 0 0 0 0 rgb(225,247,172);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: grey;
  transition: .15s ease-in-out;
  text-align: center;
  cursor: pointer;
}



.addBtn:hover {
  box-shadow: 0 0 10px 0 #78f580 inset, 0 0 10px 4px #71ee79;
  color: #158540;
	background-color: #b4edb8;
}